Index

<ul>
  {{#each model as |trackList| }}
    <li>
      {{#link-to 'track-list' trackList.id }}
        {{trackList.title}}
      {{/link-to}}
    </li>
  {{else}}
    <li class="empty">No tracklists found</li>
  {{/each}}
</ul>

{{outlet}}
