<form {{action "login" on="submit"}}>
  <p>{{input value=username placeholder="What's your name?" required="Your name can't be empty"}}</p>
  <p>{{input type="submit" value="Log In"}}</p>
</form>

{{yield}}
